[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/home/tradeONION-1.1.0/tradeONION.sh
GenericName[en_US]=
GenericName=
Icon=/home/tradeONION-1.1.0/menu_20220614_102633.png
MimeType=
Name[en_US]=tradeONION
Name=tradeONION
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
